@{
    ViewBag.Title = "해쉬태그 리스트";
    Layout = "~/Views/Shared/_Admin/_Layout.cshtml";

    var list = ViewBag.DataList;
}
@using PagedList.Mvc;
@using PagedList;

<link href="~/Css/PagedList.css" rel="stylesheet" />
<div>
    <input type="button" value="해쉬태그 만들기" class="make" />
    <input type="button" value="XML 만들기" class="xml_make" />
</div>
<br />
<div>
    <div>
        <table border="1" cellpadding="0" cellspacing="0" class="notice_table">
            <tr class="notice_t_alert" style="width:30px">
                <th style="width:100px">고유번호</th>
                <th style="width:150px">해쉬태그</th>
                <th style="width:80px">초성</th>
                <th style="width:60px">수정</th>
                <th style="width:60px">삭제</th>
                @*<th style="width:60px">보기</th>*@
            </tr>
            @foreach (var item in list)
            {
                <tr class="notice_t_alert" style="text-align:center; height:25px">
                    <td>@item.Seq</td>
                    <td> <a href="@Url.Action("DolPicImageList", new { controller = "DolPicAdmin", Seq = @item.Seq})"> @item.HashTag</a> </td>
                    <td>@item.Initial</td>
                    <td><input type="button" value="수정" seq="@item.Seq" class="update" /></td>
                    <td><input type="button" value="수정" seq="@item.Seq" class="delete" /></td>
                    @*<td><input type="button" value="보기" seq="@item.Seq" class="imgview" /></td>*@
                </tr>
            }
        </table>
    </div>
</div>
<div>
    @Html.PagedListPager((IPagedList)list, page => Url.Action("HashTagList", new {page = page}))
</div>
<form id="frm" method="post">
    <input type="hidden" id="Seq" name="Seq" />
</form>

<input type="button" value="메뉴 리스트" onclick="location.href = 'MenuList';" />

@section scripts
{
    <script type="text/javascript">
        var bExec = false;
        $(function () {
            $('.make').click(function () {
                window.open("HashTagMakeForm", "popupWindow", "width=400,height=150,scrollbars=no");
            });
            $('.xml_make').click(function () { fnXmlMake(); })
            $('.update').click(function () { fnHaghTagUpdate($(this).attr("seq")); })
            $('.delete').click(function () { fnHaghTagDelete($(this).attr("seq")); })
            $('.imgview').click(function () { fnImageView($(this).attr("seq")); })
        });

        function fnXmlMake() {
            if (bExec) {
                alert("요청을 처리중입니다.잠시만 기다려주세요.");
                return;
            }

            bExec = true;

            $.ajax({
                url: "/DolPicAdmin/HashTagXmlMake",
                type: "POST",
                dataType: "json"
            })
            .done(function (data) {
                var retData = $.parseJSON(data);
                alert(retData.RetMsg);
                if (retData.RetCode == 0) {
                }
            })
            .fail(function () {
                alert("실행중 에러가 발생했습니다.");
            })
            .always(function () {
                bExec = false;
            });
        }

        function fnHaghTagUpdate(seq) {
            $('#frm').attr('action', 'HashTagUpdate');
            alert(seq);
        }

        function fnHaghTagDelete(seq) {
            if (confirm("정말 삭제할꺼야???? 삭제하면 이미지도 전부 지워지는데???")) {
                $('#frm').attr('action', 'HashTagDelete');
                $('#Seq').val(seq);
                $('#frm').submit();
            }
        }

        function fnImageView(seq) {
            $('#frm').attr('action', 'DolPicImageView');
            $('#Seq').val(seq);
            $('#frm').submit();
        }
    </script>
}