@model DolPic.Data.Pos.DolPicPo
@using DolPic.Common
@Html.Action("FavoriteBar", "Pics")
<!-- 구글 광고 -->
@Html.Partial("_GoogleAdTop")
<!-- 갤러리 -->
<div class="wrapper">
	<div class="gbox_gallery">
		<div class="vbox">
			<div class="like_box" style="display:none"></div>
			<img src="@Model.ImageSrc:large">
		    <div class="wrong_pic">해당 이미지가 잘못되었으면 <a href="javascript:void(0)" class="report">여기</a>를 눌러주세요.</div>
		</div>
		<div class="clear"></div>
		<!-- 갤러리 네비게이션 -->
		<ul class="gbox_list">
			<li>메인</li>
			<li seq="@Model.NextSeq" class="@(Model.NextSeq == 0 ? "on" : "")">&lt; 이전 페이지</li>			<li seq="@Model.PrevSeq" class="@(Model.PrevSeq == 0 ? "on" : "")">다음 페이지 &gt;</li>
		</ul>
		<div id="like" class="@(Model.IsLike == 0 ? "btn_good" : "btn_good on")">좋아요 @string.Format("{0:N0}", Model.LikeCnt)</div>
		<div class="clear"></div>
        <!-- Disqus -->
		@Html.Partial("_Disqus")	</div>
	<div class="gbox_side">
        @Html.Action("HotDolPicList", "Pics")
		<!-- 구글 광고 -->
		@Html.Partial("_GoogleAd2")
		<!-- 공지사항 -->
		@Html.Partial("_Notice")
	</div>
	<div class="clear"></div>
</div>
@Html.HiddenFor(m => m.CurSeq, new { @Value = Model.CurSeq })
@Html.Action("InitialList", "Pics")
<script>
    $(document).ready(function () {
        var gboxDefault = ($('.gbox_gallery').width() - 24) / 3;
        var gboxWide = ($('.gbox_gallery').width() - 40) / 5;
        if (window.innerHeight > window.innerWidth) {
            $('.gbox').css({
                width: gboxDefault,
                height: gboxDefault
            });
            $('.hot_box').removeClass('wide');
            $('.ad_wrap').removeClass('wide');
            $('#gboxRecmd4, #gboxRecmd5').hide();
        } else {
            $('.gbox').css({
                width: gboxWide,
                height: gboxWide
            });
            $('.hot_box').addClass('wide');
            $('.ad_wrap').addClass('wide');
            $('#gboxRecmd4, #gboxRecmd5').show();
        }
        if ($('.fbar').height() < 75) {
            $('.fbar_wrap').removeClass('more');
            $('.btn_more').hide();
        } else {
            $('.fbar_wrap').addClass('more');
            $('.btn_more').show();
        }
        $('.btn_more').live('click', function () {
            $('.fbar_wrap').removeClass('more');
            $('.btn_more').hide();
        });

        $('.vbox').live('doubletap', function () {
            fnPicLike();
        });

        // 화면 전환시 새로고침
        var windowWidth = $(window).width();
        $(window).resize(function () {
            if (windowWidth != $(window).width()) {
                location.reload();
                return;
            }
        });
    });
</script>

<script type="text/javascript">
    var bExec = false;
    $(function () {
        var swipe = $('.vbox');
        // Swipes:
        swipe.swipeleft(function () {
            fnImgViewGo($('.gbox_list li').eq(2).attr("seq"));
        });
        swipe.swiperight(function () {
            fnImgViewGo($('.gbox_list li').eq(1).attr("seq"));
        });

        $('.vbox').dblclick(function () {
            fnPicLike();
        });
        $('.btn_good').live('click', function () { fnPicLike(); });
        $('.report').live('click', function () { fnImgReport(); });
        $('.gbox').hover(
            function () { $('.gbox_thumb', this).fadeIn(300); },
            function () { $('.gbox_thumb', this).fadeOut(100); }
        );

        $('.gbox_list li').live('click', function () {
            var nClickIdx = $(this).index();

            if (nClickIdx == 0) {
                location.href = "/Pics/Main/@((string.IsNullOrEmpty(ViewBag.HashTag) ? CommonVariable.ALL_IMAGE : ViewBag.HashTag))/@ViewBag.CurPage";
                return;
            }

            fnImgViewGo($(this).attr("seq"));
            return;

            if (bExec) {
                alert("요청을 처리중입니다.잠시만 기다려주세요.");
                return;
            }

            bExec = true;

            $.ajax({
                url: "/Pics/ImageView",
                type: "POST",
                dataType: "json",
                data: {
                    "ImgNo": seq,
                    "HashTag": "@ViewBag.HashTag",
                    "Page": $("#CurSeq").val()
                }
            })
            .done(function (data) {
                var retData = $.parseJSON(data);
                $('.gbox_list li').eq(1).attr("seq", "0");
                $('.gbox_list li').eq(3).attr("seq", "0");
                $("#hashtag").html("#" + retData.HashTag);
                $("#CurSeq").val(retData.CurSeq);
                $('.gbox_list li').eq(1).addClass("on");
                $('.gbox_list li').eq(3).addClass("on");

                if (retData.PrevSeq > 0) {
                    $('.gbox_list li').eq(3).attr("seq", retData.PrevSeq);
                    $('.gbox_list li').eq(3).removeClass("on");
                }
                if (retData.NextSeq > 0) {
                    $('.gbox_list li').eq(1).attr("seq", retData.NextSeq);
                    $('.gbox_list li').eq(1).removeClass("on");
                }

                $('#like').removeClass('btn_good').removeClass('btn_good on');
                retData.IsLike == 0 ? $('#like').addClass('btn_good') : $('#like').addClass('btn_good on');
                $('#like').html("좋아요 " + retData.LikeCnt);

                $('.vbox img').fadeOut(10);
                $('.vbox img').fadeIn(300);
                $('.vbox img').attr("src", retData.ImageSrc);

                $('html,body').animate({ scrollTop: 0 }, 100);
                bExec = false;
            })
            .fail(function () {
                alert("실행중 에러가 발생했습니다.");
                bExec = false;
            });
        });
    });

    function fnImgViewGo(seq) {
        if (seq == 0) { alert("더이상 사진이 없습니다."); return; }
        location.href = "/Pics/PicView/" + seq + "/@((string.IsNullOrEmpty(ViewBag.HashTag) ? CommonVariable.ALL_IMAGE : ViewBag.HashTag))/@ViewBag.CurPage";
    }

    function fnPicLike() {
        if ("@ViewBag.User" == "") {
            alert("로그인후 사용 가능합니다.");
            return;
        }

        if (bExec) {
            alert("요청을 처리중입니다.잠시만 기다려주세요.");
            return;
        }

        bExec = true;

        $.ajax({
            url: "/Pics/PicLikeInsert",
            type: "POST",
            dataType: "json",
            data: {
                "Seq": $("#CurSeq").val()
            }
        })
        .done(function (data) {
            var retData = $.parseJSON(data);
            if (retData.RetCode == 0) {
                $('.like_box').fadeIn('swing').delay(200).fadeOut('fast');
                $('#like').addClass('btn_good on');
                $('#like').html("좋아요 " + retData.LikeCnt);
            } else {
                alert(retData.RetMsg);
            }
        })
        .fail(function () {
            alert("실행중 에러가 발생했습니다.");
        })
        .always(function () {
            bExec = false;
        });
    }

    function fnImgReport() {
        if ("@ViewBag.User" == "") {
            alert("로그인후 사용 가능합니다.");
            return;
        }

        if (bExec) {
            alert("요청을 처리중입니다.잠시만 기다려주세요.");
            return;
        }

        bExec = true;

        $.ajax({
            url: "/Pics/ImgReportInsert",
            type: "POST",
            dataType: "json",
            data: {
                "ImgNo": $("#CurSeq").val()
            }
        })
        .done(function (data) {
            var retData = $.parseJSON(data);
            alert(retData.RetMsg);
        })
        .fail(function () {
            alert("실행중 에러가 발생했습니다.");
        })
        .always(function () {
            bExec = false;
        });
    }
</script>