@model DolPic.Data.Pos.DolPicPo
@using DolPic.Common
@Html.Action("FavoriteBar", "Pics", new { CurTag = Model.HashTag })
<!-- 갤러리 -->
<div class="wrapper">
    <div class="gbox_gallery">
        <div class="vbox">
            <div class="like_box" style="display:none"></div>
            @{
                var sUrl = "";
                var sSiteName = "";

                if (Model.TagUrlType == (int)e_TagUrlType.twitter)
                {
                    sUrl = Model.ImageSrc + ":large";
                    sSiteName = "Twitter";
                }
                else if (Model.TagUrlType == (int)e_TagUrlType.instagram)
                {
                    sUrl = Model.ImageSrc;
                    sSiteName = "Instagram";
                }
            }
            <img src="@sUrl">
            <div class="wrong_pic">해당 이미지가 잘못되었으면 <a href="javascript:void(0)" class="report">여기</a>를 눌러주세요. 출처:@sSiteName</div>
        </div>
        <div class="clear"></div>
        <!-- 갤러리 네비게이션 -->
        <ul class="gbox_list">
            <li>메인</li>
            <li seq="@Model.NextSeq" class="@(Model.NextSeq == 0 ? "on" : "")">&lt; 이전 페이지</li>
            <li class="on"><span id="hashtag" class="htag" style="cursor:pointer">@Model.HashTag</span></li>
            <li seq="@Model.PrevSeq" class="@(Model.PrevSeq == 0 ? "on" : "")">다음 페이지 &gt;</li>
        </ul>
        <div id="like" class="@(Model.IsLike == 0 ? "btn_good" : "btn_good on")">좋아요 @string.Format("{0:N0}", Model.LikeCnt)</div>
        <div class="clear"></div>
        <!-- 추천 이미지 리스트 -->
        @Html.Action("RecommPicList", "Pics", new { ImgNo = Model.CurSeq, HashTag = Model.HashTag, CurPage = ViewBag.CurPage })
        <!-- 구글 광고 -->
        @Html.Partial("_GoogleAd1")
        <!-- 소셜 댓글 -->
        @Html.Partial("_FacebookComment", ViewData)
    </div>
    <div class="gbox_side">
        @Html.Action("HotDolPicList", "Pics")
        <!-- 구글 광고 -->
        @Html.Partial("_GoogleAd2")
        <!-- 구글 APP -->
        @Html.Partial("_GoogleApp")
        <!-- 공지사항 -->
        @Html.Partial("_Notice")
    </div>
    <div class="clear"></div>
</div>
@Html.HiddenFor(m => m.CurSeq, new { @Value = Model.CurSeq })
@Html.Action("InitialList", "Pics")

<script type="text/javascript">
    var bExec = false;
    $(function () {
        $('.vbox').dblclick(function () {
            fnPicLike();
        });
        $('.btn_good').live('click', function () { fnPicLike(); });
        $('.report').live('click', function () { fnImgReport(); });
        $('.gbox').live({
            mouseenter: function () { $('.gbox_thumb', this).fadeIn(300); $('.gbox_thumb', this).parent("div").addClass('transition'); },
            mouseleave: function () { $('.gbox_thumb', this).fadeOut(100); $('.gbox_thumb', this).parent("div").removeClass('transition'); }
        });
        $('.dolpic_lbox').live({
            mouseenter: function () { $(this).children('.dolpic_limg').addClass('ihover'); },
            mouseleave: function () { $(this).children('.dolpic_limg').removeClass('ihover'); }
        });


        $('.htag').live('click', function () {
            location.href = "/Pics/BookmarkList/@Model.HashTag/@ViewBag.CurPage";
        });

        $('.gbox_list li').live('click', function () {
            var nClickIdx = $(this).index();

            if (nClickIdx == 0) {
                location.href = "/Pics/BookmarkList/@((string.IsNullOrEmpty(ViewBag.HashTag) ? CommonVariable.ALL_IMAGE : ViewBag.HashTag))/@ViewBag.CurPage";
                return;
            }

            if (nClickIdx == 2) return;

            var seq = $(this).attr("seq");
            if (seq == 0) { alert("더이상 사진이 없습니다."); return; }

            location.href = "/Pics/BookmarkPicView/" + seq + "/@((string.IsNullOrEmpty(ViewBag.HashTag) ? CommonVariable.ALL_IMAGE : ViewBag.HashTag))/@ViewBag.CurPage";
            return;

            if (bExec) {
                alert("요청을 처리중입니다.잠시만 기다려주세요.");
                return;
            }

            bExec = true;

            $.ajax({
                url: "/Pics/ImageView",
                type: "POST",
                dataType: "json",
                data: {
                    "ImgNo": seq,
                    "HashTag": "@ViewBag.HashTag",
                    "Page": $("#CurSeq").val()
                }
            })
            .done(function (data) {
                var retData = $.parseJSON(data);
                $('.gbox_list li').eq(1).attr("seq", "0");
                $('.gbox_list li').eq(3).attr("seq", "0");
                $("#hashtag").html("#" + retData.HashTag);
                $("#CurSeq").val(retData.CurSeq);
                $('.gbox_list li').eq(1).addClass("on");
                $('.gbox_list li').eq(3).addClass("on");

                if (retData.PrevSeq > 0) {
                    $('.gbox_list li').eq(3).attr("seq", retData.PrevSeq);
                    $('.gbox_list li').eq(3).removeClass("on");
                }
                if (retData.NextSeq > 0) {
                    $('.gbox_list li').eq(1).attr("seq", retData.NextSeq);
                    $('.gbox_list li').eq(1).removeClass("on");
                }

                $('#like').removeClass('btn_good').removeClass('btn_good on');
                retData.IsLike == 0 ? $('#like').addClass('btn_good') : $('#like').addClass('btn_good on');
                $('#like').html("좋아요 " + retData.LikeCnt);

                $('.vbox img').fadeOut(10);
                $('.vbox img').fadeIn(300);
                $('.vbox img').attr("src", retData.ImageSrc);

                $('html,body').animate({ scrollTop: 0 }, 100);
                bExec = false;
            })
            .fail(function () {
                alert("실행중 에러가 발생했습니다.");
                bExec = false;
            });
        });
    });

    function fnPicLike() {
        if ("@ViewBag.User" == "") {
            alert("로그인후 사용 가능합니다.");
            return;
        }

        if (bExec) {
            alert("요청을 처리중입니다.잠시만 기다려주세요.");
            return;
        }

        bExec = true;

        $.ajax({
            url: "/Pics/PicLikeInsert",
            type: "POST",
            dataType: "json",
            data: {
                "Seq": $("#CurSeq").val()
            }
        })
        .done(function (data) {
            var retData = $.parseJSON(data);
            if (retData.RetCode == 0) {
                $('.like_box').fadeIn('swing').delay(200).fadeOut('fast');
                $('#like').addClass('btn_good on');
                $('#like').html("좋아요 " + retData.LikeCnt);
            } else {
                alert(retData.RetMsg);
            }
        })
        .fail(function () {
            alert("실행중 에러가 발생했습니다.");
        })
        .always(function () {
            bExec = false;
        });
    }

    function fnImgReport() {
        if ("@ViewBag.User" == "") {
            alert("로그인후 사용 가능합니다.");
            return;
        }

        if (bExec) {
            alert("요청을 처리중입니다.잠시만 기다려주세요.");
            return;
        }

        bExec = true;

        $.ajax({
            url: "/Pics/ImgReportInsert",
            type: "POST",
            dataType: "json",
            data: {
                "ImgNo": $("#CurSeq").val()
            }
        })
        .done(function (data) {
            var retData = $.parseJSON(data);
            alert(retData.RetMsg);
        })
        .fail(function () {
            alert("실행중 에러가 발생했습니다.");
        })
        .always(function () {
            bExec = false;
        });
    }
</script>