@{
    Layout = null;

    var list = ViewBag.DataList;
}
<!-- 하단 리스트 -->
<div class="dolpic_warp">
    <div class="go_top" onClick="location.href='#top'"></div>
    <div class="wrapper">
        <div class="search_box">
            <input type="text" placeholder="검색" class="search">
        </div>
        <div class="list_box">
        <!-- 리스트 박스 -->
        @foreach (var item in list)
        {
            var sImgSrc = item.ImageSrc + ":thumb";

            <div class="dolpic_lbox">
                <div class="dolpic_ltag">
                    <!--
                    <img src="/images/sns_facebook.png" width="12" height="12" alt="Facebook">
                    -->
                    <img src="/images/sns_instagram.png" width="12" height="12" alt="Instagram">
                    <img src="/images/sns_twitter.png" width="12" height="12" alt="Twitter">
                </div>
                <div class="dolpic_limg" style="background:url(@sImgSrc) center center no-repeat;background-size:cover" onclick="location.href='/Pics/Main/@item.HashTag';"></div>
                <div class="dolpic_lname" onclick="location.href='/Pics/Main/@item.HashTag';" style="cursor:pointer">@item.HashTag</div>
                <div id="@string.Format("in{0}", item.Seq)" class="dolpic_fbtn @((item.Seq == item.FavoriteSeq) ? Html.Raw("on") : Html.Raw("off"))" onclick="fnFavoriteInsert('@item.Seq', '@item.HashTag');"></div>
            </div>
        }
        </div>
        <div class="clear"></div>
    </div>
    <div class="sponsor">돌픽은 SNS 이미지를 모아주는 사이트입니다.</div>
    <div class="sponsor">Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
</div>

<script type="text/javascript">
    var bExec = false;

    $(function () {
        $(".search").keydown(function (key) {
            if (key.keyCode == 13) {
                fnSearchDol();
            }
        });
    });

    function fnSearchDol() {
        if (bExec) {
            alert("요청을 처리중입니다.잠시만 기다려주세요.");
            return;
        }

        bExec = true;

        $.ajax({
            url: "/Pics/InitialSearchList",
            type: "POST",
            dataType: "json",
            data: {
                "SearchDol": $(".search").val()
            }
        })
        .done(function (data) {
            var retData = $.parseJSON(data);
            $('.list_box').empty();
            $('.list_box').append(retData.list);
            bExec = false;
        })
        .fail(function () {
            alert("실행중 에러가 발생했습니다.");
            bExec = false;
        });
    }

    function fnFavoriteInsert(seq, tag) {
        if ("@ViewBag.User" == "") {
            alert("로그인후 사용 가능합니다.");
            return;
        }

        if (bExec) {
            alert("요청을 처리중입니다.잠시만 기다려주세요.");
            return;
        }

        bExec = true;

        $.ajax({
            url: "/Pics/FavoriteInsert",
            type: "POST",
            dataType: "json",
            data: {
                "TagNo": seq
            }
        })
        .done(function (data) {
            var retData = $.parseJSON(data);
            if (retData.RetCode == 0) {
                $("#in" + seq).toggleClass('on');

                var div;
                div = "<span class='fbar" + seq + " tbox'>";
                div += "<a href='/Pics/Main/" + tag + "' class=\"tbox_a\">" + tag + "</a> ";
                div += "<a href='javascript:void(0);' onclick=\"fnFavoriteDelete('" + seq + "');\"  class=\"tbox_tag\">X</a></span>";

                $('.flist').append(div);
            } else {
                alert(retData.RetMsg);
            }
            bExec = false;
        })
        .fail(function () {
            alert("실행중 에러가 발생했습니다.");
            bExec = false;
        });
    }
</script>