@{
    var list = ViewBag.DataList;
}

<style media="screen,projection" type="text/css">
    #loading {  
        text-align: center;  
        color: #67a;  
        position: absolute;  
        left: 300px;      
        top: 300px; 
    } 
</style>
<div id="loading" style="display:none"><img src="/Images/loader.gif" /><br /><br />로딩하는 중입니다...</div>
<!-- 갤러리 -->
<div class="wrapper">
	<div class="gbox_gallery">
        @foreach (var item in list)
        {
		    <div seq="@item.Seq" class="gbox" style="background:url(@item.ImageSrc) center center no-repeat;background-size:cover">
                <div class="gbox_thumb g_t_twitter">
                    <div class="gbox_t_title">#@item.HashTag</div>
                    <div class="gbox_t_text">@string.Format("{0:N0}", item.LikeCnt)</div>
                </div>
		    </div>
        }
		<!-- 갤러리 리스트 -->
		<ul class="gbox_list">
			<li class="on">1</li>
			<li>2</li>
			<li>3</li>
			<li>4</li>
			<li>5</li>
			<li>6</li>
			<li>7</li>
			<li>8</li>
			<li>9</li>
			<li>&gt;</li>
		</ul>
		<!-- 구글 광고 -->
		@Html.Partial("_GoogleAd1")
	</div>
	<div class="gbox_side">
        @Html.Action("HotDolPicList", "Pics")
		<!-- 구글 광고 -->
		@Html.Partial("_GoogleAd2")
		<!-- 공지사항 -->
		@Html.Partial("_Notice")
	</div>
	<div class="clear"></div>
</div>
@Html.Action("InitialList", "Pics")

<script>
    $(function () {
        $('.gbox').hover(
		    function () { $('.gbox_thumb', this).fadeIn(300); $('.gbox_thumb', this).parent("div").addClass('transition'); },
		    function () { $('.gbox_thumb', this).fadeOut(100); $('.gbox_thumb', this).parent("div").removeClass('transition'); }
        );
        $('.gbox').live('click', function () {
            location.href = '/Pics/PicView/' + $(this).attr("seq");
        });
    });
</script>